<p class="story">
    "Πού θα κρύψει ένας σοφός άνθρωπος ένα φύλλο; Στο δάσος. Όμως, τι θα κάνει αν δεν υπάρχει δάσος; Θα δημιουργήσει ένα, ώστε να μπορέσει να το κρύψει...
    "<br>
    -- Gilbert Keith Chesterton
</p>

<p>
	Προσπάθησες ποτέ να στείλεις ένα μυστικό μήνυμα σε κάποιον χωρίς να χρησιμοποιήσεις το ταχυδρομείο; Θα μπορούσες να χρησιμοποιήσεις τις εφημερίδες 
	για να μεταδώσεις το μυστικό σου μήνυμα. Ακόμα και αν κάποιος ανακαλύψει το μήνυμα, 
	εύκολα θα ισχυριστείς ότι είναι παρανοϊκός και φαντάζεται θεωρίες συνομωσίας! Ένας εύκολος τρόπος να κρύψεις ένα μήνυμα
	είναι να χρησιμοποιήσεις τα κεφαλαία γράμματα ενός κειμένου. Ας δούμε μερικά παραδείγματα.
</p>

<p>
    Δίνεται κάποιο κείμενο. Ένωσε όλα του τα κεφαλαία γράμματα σε μια λέξη, με τη σειρά που εμφανίζονται μέσα στο κείμενο.
</p>
<p>
    Για παράδειγμα: κείμενο =
    "<strong>H</strong>ow are you? <strong>E</strong>h, ok. <strong>L</strong>ow or <strong>L</strong>ower?
    <strong>O</strong>hhh.",
    αν ενώσουμε όλα του τα κεφαλαία γράμματα θα σχηματίσουμε τη λέξη "HELLO".
</p>

<p>
    <strong>Είσοδος: </strong> Ένα κείμενο με τη μορφή string (unicode).
</p>

<p>
    <strong>Έξοδος: </strong> Το μυστικό μήνυμα με τη μορφή string ή το κενό string.
</p>


<div class="for_info_only">

    <p>
        <strong>Παράδειγμα:</strong>
    </p>
    <pre class="brush: python">
{% if interpreter.slug == "js-node" %}findMessage{% else %}find_message{% endif %}("How are you? Eh, ok. Low or Lower? Ohhh.") == "HELLO"
{% if interpreter.slug == "js-node" %}findMessage{% else %}find_message{% endif %}("hello world!") == ""
    </pre>
</div>

<p class="for_info_only">
    <strong>Πώς χρησιμοποιείται: </strong>
    Είναι μια απλή άσκηση για τις βασικές λειτουργίες των strings: προσπέλαση, αναγνώριση και ένωση.
</p>

<p>
    <strong>Προϋποθέσεις:</strong>
    0 &lt; len(text) &le; 1000<br>
    all(ch in string.printable for ch in text)
</p>