<p class="story">
    "Де розумный чоловік ховає лист? У лісі.
    Але що якщо ліса нема? ... Він вирощує ліс і ховає його там."<br>
    -- Гілберт Кіт Честертон
</p>

<p>
    Коли-небудь пробували відправити секретне повідомлення комусь не користуючись послугами пошти? Ви можете використовувати
    газету, щоб розповісти комусь свій секрет. Навіть якщо хтось знайде ваше повідомлення, легко відмахнутися і сказати
    що це параноя і теорія змови. Один з найпростіших способів заховати ваше секретне повідомлення це використовувати
    заголовні літери. Давайте знайдемо кілька таких секретних повідомлень.
</p>

<p>
    Дана частка тексту. Зберіть усі великі літери в одне слово в тому порядку як вони зустрічаються в шматку тексту.
</p>
<p>
    Наприклад: текст =
    "<strong>H</strong>ow are you? <strong>E</strong>h, ok. <strong>L</strong>ow or <strong>L</strong>ower?
    <strong>O</strong>hhh.",
    якщо ми зберемо усі великі букви, то отримаємо повідомлення "HELLO".
</p>

<p>
    <strong>Вхідні дані: </strong> Текст як рядок (юнікод).
</p>

<p>
    <strong>Вихідні дані: </strong> Секретне повідомлення як рядок або порожній рядок.
</p>


<div class="for_info_only">

    <p>
        <strong>Приклад:</strong>
    </p>
    <pre class="brush: python">
{% if interpreter.slug == "js-node" %}findMessage{% else %}find_message{% endif %}("How are you? Eh, ok. Low or Lower? Ohhh.") == "HELLO"
{% if interpreter.slug == "js-node" %}findMessage{% else %}find_message{% endif %}("hello world!") == ""
    </pre>
</div>

<p class="for_info_only">
    <strong>Як це використовуэеться: </strong>
    Це проста вправа по роботі з рядками: ітерація, читання і об'єднання.
</p>

<p>
    <strong>Передумова:</strong>
    0 &lt; len(text) &le; 1000<br>
    all(ch in string.printable for ch in text)
</p>
 
